		
###############
# SVI
###############
{% set rack = racks[devices[inventory_hostname].rack] %}
{% for vlan in vlans %}
auto vlan{{ vlan }}
iface vlan{{ vlan }}
    vlan-id {{ vlan }}
    vlan-raw-device bridge
{%   if rack.vrr[vlan] is defined %}
    address {{ rack.vrr[vlan].mlag_left if inventory_hostname[-1:]|int%2 != 0 else rack.vrr[vlan].mlag_right }}
    address-virtual {{ rack.vrr[vlan].mac }} {{ rack.vrr[vlan].ipv4 }}
{%   else %}
    ip-forward off
    ip6-forward off
{%   endif %}
{% endfor %}
